apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nginx-web
  namespace: {{ env }}
  annotations:
    kubernetes.io/change-cause: "{{ version }}" # mark version for rollout
spec:
  replicas: 4
  template:
    metadata:
      labels:
        app: nginx-web
    spec:
      containers:
        - name: nginx-web
          image: nginx
          imagePullPolicy: Always
          ports:
            - name: http-port
              containerPort: 80
          env:
            - name: BACKEND
              value: backend